ul{
    padding: 0px;
}
.item{
    padding: 10px;
    margin-bottom: 15px;
    list-style: none;
    box-shadow: 0px 0px 0px 0px;
    cursor: pointer;
    transition: .5s;
}
.active{
    color: #61dafb;
    border: solid 1px #61dafb;
    background: #282c34;
    box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.75);
}
.inactive{
    color: #61dafb;
    /* color: white; */
}