.form-col{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #282c34;
    color: #61dafb;
  }
form{
    display: flex;
    flex-direction: column;
}
h4{
    margin: 0px;
}
.input-block{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
label{
    font-size: 10px;
}
input, select{
    background-color: #282c34;
    color: rgb(158, 158, 158);
    height: auto;
    outline: solid 1px #61dafb;
    border: none;
    border-radius: 10px;
    padding: 2px 10px;
}
input[type="date" i]::-webkit-calendar-picker-indicator{
    filter: invert(50%);
}
.btn{
    width: auto;
    margin: auto;
    border: #61dafb;
    color: #61dafb;
    padding: 10px;
    border-radius: 10px;
    background-color: #282c34;
    box-shadow: 0px 0px 0px 0px;
    cursor: pointer;
    transition: .5s;
}
.btn:hover{
    border: solid 1px #61dafb ;
    background: black;
    box-shadow: 0px 6px 17px 0px rgba(32, 35, 41, 0.5);
}