.display{
    width: 100%;
    min-height: 100vh;
    background: #282c34;
    color: #61dafb;
}
h4{
    margin: 0px;
    text-align: center;
}
.usersList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    width: 45%;
    height: auto;
    margin: 5px;
    border: solid 1px #61dafb;
}
p{
    margin: 5px;
}